@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>MilkMan was developed to solve issues within the food supplychain. Today, the food supplychain is lacking the 
   the effiencies that are needed to consistantly provide safe, affordable food to the market place. Many suppychain 
    environments use just in time inventory manangement systems to operate more effectively. Intrigualy enough, a 
    perishable product such as milk that is very heavily regulated, is currently not able to use the JIT inventory 
    practive.</p>

<p>Why you ask! The team at MilkMan has determined three key areas that are the root cause of inefficieny in the 
   system today.</p>

<form>
    <ol>Inconsistant Information</ol>

    <p>Information has the same tendencies that stories do. It tends to morph overtime. MilkMan will help everyone
    get on the same page from the start. By the information being inputed in a manner for all parties to be able 
    to view it right away, mistakes an inconsistantcies can be address as they occur instead of after the fact. </p>

    <ol>Technology Adoption Rate</ol>

    <p>The food industry significantly lags behind other industries in technology adoption. This is because of the
    lack of applicable technology avaible, and the usability of what is in the marketplace today. MilkMan's simple 
    and straightforward user experience with the Load Ledger makes the transition from paper painless and even enjoyable.</p>

    <ol>Lack of Communitcation</ol>

    <p>Currently, differnet stages of the supplychain do not know the status of what is going on before them. For instance,
    a milk hauler doesn't always know when the load of milk that they are going to pickup is ready. This causes all kinds of 
    issues such as delays at the farm, delays at the plant, and unhappy customers. Worst of all, this can cause the MILK TO SPOIL!!!
    The MilkMan looks to address the lack of communication between the farmer and the hauler to make the front end over the 
    supplychain much more effective.</p>
</form>
