@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Milk Load Ledger Lane<br />
    Hitchcock, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@milkman.com">Support@milkman.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@milkman.com">Marketing@milkman.com</a>
</address>
